@import "../../styles/variables";

.FormWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}
.Form{
  background-color: inherit;
  max-width: 380px;
    width: 100%;
}
.FormWrapper .FormHeading{
  margin-bottom: 50px !important;
  text-align: center;
}
.InputRadioWrapper{
  display: flex;
  flex-direction: column;
    gap: 7px;
  margin-bottom: 47px;
}
.InputHeading{
  margin-bottom: 11px;
}
.InputError{
  color: $color-error;
  font-size: 12px;
  margin-left: 16px;
}
.FormSuccess{
    display: flex;
    flex-direction: column;
    align-items: center;

}
