.Header {
  display: flex;
  justify-content: space-between;
    align-items: center;
  height: 60px;
}

.BtnWrapper{
    display: flex;
    gap: 10px;
}
.LogoLink{
  display: flex;
  align-items: center;
  svg{
    display: block;
  }
}
